*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.navbar-brand{
    color: green; 
   font-size: 40px;
}

.nav-item{
    font-size: 22px;

}

.nav-link:hover{
    color: #5fcf80;
}


.btn{

    border-radius: 50px  !important;
    border: 1px solid #5fcf80;
    margin-left: 100px;
    font-size: 20px;
    color: white;
   background-color: #5fcf80;
    width: 160px;
}

.image3{
    height: 50vh;

}

.btn1{
    font-size: 15px;
    border-radius: 5px !important;
}




.card-1{
    width: 40vw;
   height: 55vh;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.font1{
    font-size: 15px;
    font-style: italic;
}

.footer{
    background-color: whitesmoke;
}

.btn3{
    height: 5vh;
    width: 9vw;
}


